/* General style  */

.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 15px;
}
.image{
  position: relative;
  margin: 15px;
}
.image img{
  max-width: 100%;
  height: auto;
}

.text-overlay{
  position: absolute;
  top: 25%;
  padding: 10px;
}

.text-overlay h4{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* mobile view */
 @media (max-width:900px){
  .container{
    flex-direction: column;
  }
  .text-overlay{
  width:10%;
  top:10%;
  margin: 0 auto;
 
}
.text-overlay h4{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
.btcategory{
  font-size: 15px;
  ;
  display: inline-block;
  
}
 }