.Products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.Product-image img {
    width: 280px;
    margin: 5px;
}

.product-details {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    color: white;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
    transform: translate(-50%, -50%)
}

.product-details p {
    justify-content: center;
    align-items: center;
}

.Product-image {
    position: relative;
}